In [1]:
import pandas as pd
import os
from get_repo_name import get_repo_name

repo_name = get_repo_name ( os.path.basename ( os.getcwd() ) )
dataset_path = f'datasets/{repo_name}_final.csv'
df = pd.read_csv (dataset_path)
df

,year_month,commit_count,additions,deletions,agg_loc,agg_complexity,agg_token_count,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing
0,2013-11,21,3028,51,0.0,0.0,0.0,0.000000,0.0000,0.000000
1,2013-12,13,660,45,0.0,0.0,0.0,0.000000,0.0000,0.000000
2,2014-01,14,3299,91,3079.0,1686.0,39555.0,0.665134,0.7773,0.944937
3,2014-02,29,1465,481,0.0,0.0,0.0,0.000000,0.0000,0.000000
4,2014-03,50,2102,520,0.0,0.0,0.0,0.000000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...
101,2022-04,2,14,13,0.0,0.0,0.0,0.000000,0.0000,0.000000
102,2022-05,0,0,0,0.0,0.0,0.0,0.000000,0.0000,0.000000
103,2022-06,0,0,0,0.0,0.0,0.0,0.000000,0.0000,0.000000
104,2022-07,39,4654,884,0.0,0.0,0.0,0.000000,0.0000,0.000000
105,2022-08,12,1249,263,0.0,0.0,0.0,0.000000,0.0000,0.000000

In [2]:
# df['year_month'] = pd.to_datetime(df['year_month'])
df = df.set_index(df['year_month'])
df

,year_month,commit_count,additions,deletions,agg_loc,agg_complexity,agg_token_count,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing
year_month,,,,,,,,,,
2013-11,2013-11,21,3028,51,0.0,0.0,0.0,0.000000,0.0000,0.000000
2013-12,2013-12,13,660,45,0.0,0.0,0.0,0.000000,0.0000,0.000000
2014-01,2014-01,14,3299,91,3079.0,1686.0,39555.0,0.665134,0.7773,0.944937
2014-02,2014-02,29,1465,481,0.0,0.0,0.0,0.000000,0.0000,0.000000
2014-03,2014-03,50,2102,520,0.0,0.0,0.0,0.000000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...
2022-04,2022-04,2,14,13,0.0,0.0,0.0,0.000000,0.0000,0.000000
2022-05,2022-05,0,0,0,0.0,0.0,0.0,0.000000,0.0000,0.000000
2022-06,2022-06,0,0,0,0.0,0.0,0.0,0.000000,0.0000,0.000000
2022-07,2022-07,39,4654,884,0.0,0.0,0.0,0.000000,0.0000,0.000000
2022-08,2022-08,12,1249,263,0.0,0.0,0.0,0.000000,0.0000,0.000000

In [3]:
pre_covid_ym = '2020-02'
covid_ym = '2020-03'
df1 = df [ str(df.year_month[0]) : pre_covid_ym ]
df2 = df [ covid_ym: str(df.year_month[-1]) ]
df1 = df1.reset_index ( drop = True )
df2 = df2.reset_index ( drop = True )

df1.shape, df2.shape

((76, 10), (30, 10))

In [4]:
from top_contributors import get_equilibrium_pc, get_pareto_pc

print("Pre-pandemic equilibrium percentages:")
for idx in range ( 1, len(df1.columns) ):
    print ( f'{df1.columns[idx]} = { get_equilibrium_pc ( list ( df1[df1.columns[idx]] ) ) }' )

Pre-pandemic equilibrium percentages:
commit_count = 13
additions = 13
deletions = 8
agg_loc = 3
agg_complexity = 3
agg_token_count = 3
dmm_unit_size = 3
dmm_unit_complexity = 3
dmm_unit_interfacing = 3

In [5]:
print("Post-pandemic equilibrium percentages:")
for idx in range ( 1, len(df2.columns) ):
    print ( f'{df2.columns[idx]} = { get_equilibrium_pc ( list ( df2[df2.columns[idx]] ) ) }' )

Post-pandemic equilibrium percentages:
commit_count = 10
additions = 6
deletions = 6
agg_loc = 3
agg_complexity = 3
agg_token_count = 3
dmm_unit_size = 3
dmm_unit_complexity = 3
dmm_unit_interfacing = 3

In [6]:
print("Pre-pandemic Pareto percentages:")
for idx in range ( 1, len(df1.columns) ):
    print ( f'{df1.columns[idx]} = { get_pareto_pc ( list ( df1[df1.columns[idx]] ) ) }' )

Pre-pandemic Pareto percentages:
commit_count = 26
additions = 22
deletions = 17
agg_loc = 3
agg_complexity = 3
agg_token_count = 3
dmm_unit_size = 4
dmm_unit_complexity = 4
dmm_unit_interfacing = 3

In [7]:
print("Post-pandemic Pareto percentages:")
for idx in range ( 1, len(df2.columns) ):
    print ( f'{df2.columns[idx]} = { get_pareto_pc ( list ( df2[df2.columns[idx]] ) ) }' )

Post-pandemic Pareto percentages:
commit_count = 16
additions = 13
deletions = 6
agg_loc = 3
agg_complexity = 3
agg_token_count = 3
dmm_unit_size = 3
dmm_unit_complexity = 3
dmm_unit_interfacing = 3