In [1]:
import pandas as pd
import os
from get_repo_name import get_repo_name

repo_name = get_repo_name ( os.path.basename ( os.getcwd() ) )
dataset_path = f'datasets/{repo_name}_modfiles.csv'
df = pd.read_csv (dataset_path)
df.head()

,commit_hash,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count
0,f1075dc91597888e4f6ce38d12c8afca957d1ee7,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:46:25+05:00,False,NaN,NaN,NaN,README.md,ModificationType.ADD,21,0,NaN,NaN,NaN
1,9ac82fb8a7d994c914fd17c5f6b0cb7fd37e4de9,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:48:13+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,5,1,NaN,NaN,NaN
2,13d8dd364bbc4743d36e126918ba25913ad96b7c,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:50:31+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,3,3,NaN,NaN,NaN
3,3db0687acfe4e5689ac7f6f10a9bc6f0a7e93d16,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:55:29+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,1,1,NaN,NaN,NaN
4,c4f00e016fc20d1d5d5d940923f7d65ebd218fbf,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 19:02:18+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,22,1,NaN,NaN,NaN

In [2]:
df.insert ( 1, 'year_month', pd.to_datetime(df['commit_datetime'], utc=True).dt.to_period('M') )
df.head()

G:\Anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

,commit_hash,year_month,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count
0,f1075dc91597888e4f6ce38d12c8afca957d1ee7,2017-03,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:46:25+05:00,False,NaN,NaN,NaN,README.md,ModificationType.ADD,21,0,NaN,NaN,NaN
1,9ac82fb8a7d994c914fd17c5f6b0cb7fd37e4de9,2017-03,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:48:13+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,5,1,NaN,NaN,NaN
2,13d8dd364bbc4743d36e126918ba25913ad96b7c,2017-03,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:50:31+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,3,3,NaN,NaN,NaN
3,3db0687acfe4e5689ac7f6f10a9bc6f0a7e93d16,2017-03,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:55:29+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,1,1,NaN,NaN,NaN
4,c4f00e016fc20d1d5d5d940923f7d65ebd218fbf,2017-03,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 19:02:18+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,22,1,NaN,NaN,NaN

In [3]:
from analysis_lib import generate_ordinal_encoding_map

enc_map = generate_ordinal_encoding_map ( df["commit_author_email"] )
df["commit_author_enc"] = df["commit_author_email"].replace(enc_map)
df.head()

,commit_hash,year_month,commit_author_name,commit_author_email,commit_datetime,commit_merge,dmm_unit_size,dmm_unit_complexity,dmm_unit_interfacing,file_name,file_change_type,file_lines_added,file_lines_deleted,file_loc,file_complexity,file_token_count,commit_author_enc
0,f1075dc91597888e4f6ce38d12c8afca957d1ee7,2017-03,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:46:25+05:00,False,NaN,NaN,NaN,README.md,ModificationType.ADD,21,0,NaN,NaN,NaN,1
1,9ac82fb8a7d994c914fd17c5f6b0cb7fd37e4de9,2017-03,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:48:13+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,5,1,NaN,NaN,NaN,1
2,13d8dd364bbc4743d36e126918ba25913ad96b7c,2017-03,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:50:31+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,3,3,NaN,NaN,NaN,1
3,3db0687acfe4e5689ac7f6f10a9bc6f0a7e93d16,2017-03,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 18:55:29+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,1,1,NaN,NaN,NaN,1
4,c4f00e016fc20d1d5d5d940923f7d65ebd218fbf,2017-03,Kamran Ahmed,kamranahmed.se@gmail.com,2017-03-15 19:02:18+05:00,False,NaN,NaN,NaN,README.md,ModificationType.MODIFY,22,1,NaN,NaN,NaN,1

In [4]:
df[df['commit_author_enc'] == 0].shape[0] # checking if there are any zeroes in author code

0

In [5]:
from analysis_lib import covid_ym

pre_df = df [ df['year_month'] < covid_ym ]
post_df = df [ df['year_month'] >= covid_ym ]

In [6]:
pre_df = pre_df.groupby(['commit_author_enc']).agg({
    
    'commit_hash': 'nunique', 
    'file_lines_added': 'sum', 
    'file_lines_deleted': 'sum',
    'file_loc': 'sum',
    'file_complexity': 'sum',
    'file_token_count': 'sum'
} ).reset_index(level=[0])

pre_df.rename(columns = {
     
    'commit_author_enc':'author_code',
    'commit_hash': 'commit_count',
    'file_lines_added': 'additions',
    'file_lines_deleted': 'deletions',
    'file_loc': 'agg_loc',
    'file_complexity': 'agg_complexity',
    'file_token_count': 'agg_token_count'
}, inplace = True)

pre_df

,author_code,commit_count,additions,deletions,agg_loc,agg_complexity,agg_token_count
0,1,417,65108,16856,20266.0,1476.0,67338.0
1,2,2,2,2,0.0,0.0,0.0
2,3,1,0,0,0.0,0.0,0.0
3,4,1,2,2,0.0,0.0,0.0
4,5,1,5,5,0.0,0.0,0.0
5,6,1,1,1,0.0,0.0,0.0
6,7,1,1,1,0.0,0.0,0.0
7,8,1,1,1,0.0,0.0,0.0
8,9,1,1,1,0.0,0.0,0.0
9,10,1,2,2,0.0,0.0,0.0
10,11,1,1,1,0.0,0.0,0.0
11,12,1,1,1,0.0,0.0,0.0
12,13,1,1,1,0.0,0.0,0.0
13,14,1,3617,2,0.0,0.0,0.0
14,15,1,2,1,0.0,0.0,0.0
15,16,1,2,4,0.0,0.0,0.0
16,17,1,1,1,0.0,0.0,0.0
17,18,1,1,1,0.0,0.0,0.0
18,19,1,20,6,0.0,0.0,0.0
19,20,1,5461,1,0.0,0.0,0.0
20,21,1,5460,5460,0.0,0.0,0.0
21,22,1,1,1,0.0,0.0,0.0
22,23,1,1,1,0.0,0.0,0.0
23,24,1,1,1,0.0,0.0,0.0
24,25,2,146,104,321.0,3.0,469.0
25,26,1,1,1,0.0,0.0,0.0
26,27,1,2,2,30.0,6.0,201.0
27,28,1,1,1,0.0,0.0,0.0
28,29,1,1,1,0.0,0.0,0.0
29,30,1,26,26,0.0,0.0,0.0
30,31,2,584,1,0.0,0.0,0.0
31,32,1,1,1,0.0,0.0,0.0
32,33,2,3,3,0.0,0.0,0.0
33,34,2,7,7,73.0,10.0,416.0
34,35,1,1,1,0.0,0.0,0.0
35,36,1,1,1,0.0,0.0,0.0

In [7]:
post_df = post_df.groupby(['commit_author_enc']).agg({
    
    'commit_hash': 'nunique', 
    'file_lines_added': 'sum', 
    'file_lines_deleted': 'sum',
    'file_loc': 'sum',
    'file_complexity': 'sum',
    'file_token_count': 'sum'
} ).reset_index(level=[0])

post_df.rename(columns = {
     
    'commit_author_enc':'author_code',
    'commit_hash': 'commit_count',
    'file_lines_added': 'additions',
    'file_lines_deleted': 'deletions',
    'file_loc': 'agg_loc',
    'file_complexity': 'agg_complexity',
    'file_token_count': 'agg_token_count'
}, inplace = True)

post_df

,author_code,commit_count,additions,deletions,agg_loc,agg_complexity,agg_token_count
0,1,437,311966,179349,8136.0,711.0,36445.0
1,37,1,1,1,0.0,0.0,0.0
2,38,1,1,1,0.0,0.0,0.0
3,39,1,86,0,0.0,0.0,0.0
4,40,1,1,1,0.0,0.0,0.0
...,...,...,...,...,...,...,...
135,171,1,11,1,0.0,0.0,0.0
136,172,1,13,1,0.0,0.0,0.0
137,173,1,1,0,0.0,0.0,0.0
138,174,1,1,1,0.0,0.0,0.0
139,175,1,1,0,0.0,0.0,0.0

In [8]:
from analysis_lib import calc_and_compare_means

calc_and_compare_means ( pre_df, post_df )

Pre and Post-Covid Mean Comparisons:
commit count :  13  vs  5  ->  Down (61.5%)
additions :  2235  vs  2245  ->  Up (0.4%)
deletions :  625  vs  1284  ->  Up (105.4%)
agg loc :  575  vs  59  ->  Down (89.7%)
agg complexity :  42  vs  5  ->  Down (88.1%)
agg token count :  1901  vs  261  ->  Down (86.3%)

In [9]:
from analysis_lib import get_equilibrium_pc

print("Pre-pandemic equilibrium percentages:")
for idx in range ( 1, 7 ):
    print ( f'{pre_df.columns[idx]} = { get_equilibrium_pc ( list ( pre_df[pre_df.columns[idx]] ) ) }' )
    
print("\nPost-pandemic equilibrium percentages:")
for idx in range ( 1, 7 ):
    print ( f'{post_df.columns[idx]} = { get_equilibrium_pc ( list ( post_df[post_df.columns[idx]] ) ) }' )

Pre-pandemic equilibrium percentages:
commit_count = 2.8
additions = 2.8
deletions = 2.8
agg_loc = 2.8
agg_complexity = 2.8
agg_token_count = 2.8

Post-pandemic equilibrium percentages:
commit_count = 0.7
additions = 0.7
deletions = 0.7
agg_loc = 0.7
agg_complexity = 0.7
agg_token_count = 0.7

In [10]:
from analysis_lib import get_pareto_pc

print("Pre-pandemic pareto percentages:")
for idx in range ( 1, 7 ):
    print ( f'{pre_df.columns[idx]} = { get_pareto_pc ( list ( pre_df[pre_df.columns[idx]] ) ) }' )
    
print("\nPost-pandemic pareto percentages:")
for idx in range ( 1, 7 ):
    print ( f'{post_df.columns[idx]} = { get_pareto_pc ( list ( post_df[post_df.columns[idx]] ) ) }' )

Pre-pandemic pareto percentages:
commit_count = 2.8
additions = 2.8
deletions = 5.6
agg_loc = 2.8
agg_complexity = 2.8
agg_token_count = 2.8

Post-pandemic pareto percentages:
commit_count = 8.6
additions = 0.7
deletions = 0.7
agg_loc = 0.7
agg_complexity = 0.7
agg_token_count = 0.7